<!--모든 글들의 제목을 나열한다.-->

<button type="button" class="btn btn-success btn-sm"><a href="/blogs/new">새글쓰기</a></button>


<!--새 블로그를 쓸 수 있는 페이지로 가는 링크를 만든다-->



<%@blogs.each do |b| %>
<div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title"><%=b.title%></h5>
    <p class="card-text"><%=b.tag%></p>
    <a href="/blogs/show/<%=b.id%>" class="btn btn-primary">글 확인하기</a>
  </div>
</div>

<%end%>